CommonLibrary/Service References/CheckReg/WebServiceExam.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckReg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRegResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckRegResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceTime">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetServiceTimeResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckRegSoapIn">
    <wsdl:part name="parameters" element="tns:CheckReg" />
  </wsdl:message>
  <wsdl:message name="CheckRegSoapOut">
    <wsdl:part name="parameters" element="tns:CheckRegResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceTime" />
  </wsdl:message>
  <wsdl:message name="GetServiceTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceExamSoap">
    <wsdl:operation name="CheckReg">
      <wsdl:input message="tns:CheckRegSoapIn" />
      <wsdl:output message="tns:CheckRegSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceTime">
      <wsdl:input message="tns:GetServiceTimeSoapIn" />
      <wsdl:output message="tns:GetServiceTimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceExamSoap" type="tns:WebServiceExamSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckReg">
      <soap:operation soapAction="http://tempuri.org/CheckReg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceTime">
      <soap:operation soapAction="http://tempuri.org/GetServiceTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceExamSoap12" type="tns:WebServiceExamSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckReg">
      <soap12:operation soapAction="http://tempuri.org/CheckReg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceTime">
      <soap12:operation soapAction="http://tempuri.org/GetServiceTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceExam">
    <wsdl:port name="WebServiceExamSoap" binding="tns:WebServiceExamSoap">
      <soap:address location="http://www.yekongxing.cn/WebServiceExam.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceExamSoap12" binding="tns:WebServiceExamSoap12">
      <soap12:address location="http://www.yekongxing.cn/WebServiceExam.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>